exportClasses(BrowserHeatmapClass)

exportMethods (
   display,
   getSelection
   )

export(
   BrowserHeatmap
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BrowserViz)
import(BiocGenerics)
